body{
    background-color: orange;
}

.form{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.background{
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7_nsMbfVLJWLoG5wXjp_Na_yvxPYjUqiq2Q&usqp=CAU); */
        height: 200px;
        padding-bottom: 25px;
        margin-bottom: 50px;
        text-align: center;
        font-size: 59px;

}

.form label{
font-size: 30px;
}

.form input{
    width:30%;
    font-size: 20px;
}

#date{
    font-size: 30px;
}




#display{
    
    display: flex;
    flex-direction: row;
    display: inline block;
    gap:50px;
    justify-content: center;
    margin-top: 50px;
    font-size: 20px;
}

#addBtn{
    width:5%;
    font-size: 25px;
}

